@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../assets/fonts/#{$url}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin font-face-woff($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../assets/fonts/#{$url}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin font-face-otf($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../assets/fonts/#{$url}.otf") format("otf");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}
